@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

:root{
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --default-font-size: 16px;
    --default-font-family: 'Be Vietnam', sans-serif;
    --font-light: 400;
    --font-regular: 500;
    --font-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: var(--default-font-family);
    background-image: url(images/bg-tablet-pattern.svg);
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
}
body > div,
header,
footer{
    padding: 20px;
}
a, a:visited{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
}

a:focus{
    border-bottom: 1px solid black;
}

button{
    border: none;
    width: 150px;
    background-color: var(--Bright-Red);
    color: white;
    font-family: var(--default-font-family);
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px var(--Bright-Red);
    font-weight: var(--font-bold);
}
button:hover{
    cursor: pointer;
    filter: brightness(110%)
}
button:active{
    filter: brightness(120%);
}

.desktop{
    display: none;
}
.mobile{
    display:block;
}
.header{
    display: flex;
    justify-content: space-between;
    
}

.header__logo{
    width: 100px;
}
#hamburger-menu__checkbox{
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -1;

    & + .hamburger-menu__label > .hamburger-menu__image.open{
        visibility: visible;
    }
    & + .hamburger-menu__label > .hamburger-menu__image.close{
        visibility: hidden;
    }
    &:checked + .hamburger-menu__label > .hamburger-menu__image.open{
        visibility: hidden;
    }
    &:checked + .hamburger-menu__label > .hamburger-menu__image.close{
        visibility: visible;
    }

    &:checked + .hamburger-menu__label + .navbar-mobile__menu{
        display: flex;
    }
}
.hamburger-menu__label{
    position: relative;
    height: 20px;
    width: 20px;

    &:hover{
        cursor: pointer;
    }
}
.hamburger-menu__image{
    position: absolute;
}
.navbar-mobile{
    margin-right: 20px;
}
.navbar-mobile__menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    position: absolute;
    top: 60px;
    left: 50%;
    width: 200px;
    height: 250px;
    transform: translateX(-50%);
    background-color: var(--Very-Pale-Red);
}

.menu__link{
    font-weight: var(--font-bold);

    &:active,
    &:hover,
    &:focus{
        color: gray;
    }
}

.title{
    color: var(--Dark-Blue);
    font-size: 36px;
    font-weight: var(--font-bold);
}

.paragraph{  
    color: var(--Dark-Grayish-Blue);
    width: 300px;
    margin: auto;
    line-height: 30px;
}

.intro__image{
    width: 100%;
}
.intro__button{
    margin-top: 30px;
}
.differences{
    margin-top: 100px;
    display: hidden;
    overflow: hidden;

}

.differences__title{
    font-size: 32px;
}

.differences__p{
    width: 85%;
    font-size: 14px;
}

.differences__item{
    margin-top: 30px;
}

.differences__item__header{
 text-align: left;   
}


.differences__item__header{
    background-color: var(--Very-Pale-Red);
    width: 100vw;
    border-radius: 50px 0px 0px 50px;
}
.differences__item__header__number{
    display: inline-block;
    text-align: center;
    color: white;
    background-color: var(--Bright-Red);
    border-radius: 50px;
    font-size: 18px;
    font-weight: var(--font-bold);
    padding: 5px {
        left: 20px;
        right: 20px;
    };
}

.differences__item__p{
    text-align: left;
    width: 100%;
    line-height: 28px;
    font-size: 14px;
    
}
.testimonials{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0;
    width: 100%;
    padding: 0;

    &__button{
        margin: 25px auto;
    }
}
.testimonials__carousel{
    margin-top: 20px;
    overflow-y: hidden;
    display: flex;
    height: 300px;
    padding-left: 0px;
}

.testimonial{
    position: relative;
    background-color: var(--Very-Light-Gray);
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    height: 200px;
    &__image{
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
    }
    &__name{
        width: 100%;
    }
    &__p{
        width: clamp(80vw, 200px, 500px);
    }
}
.dots{
    font-size: 70px;
    color: gray;
    user-select: none;
    line-height: 40px;
}
.dot:hover{
    cursor: pointer;
}
.dot.activeDot{
    color: var(--Bright-Red);
}
.testimonials__button{
    margin-top: 50px;
}
.simplify{
    background-image: url(images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Bright-Red);
}

.simplify__title{
    padding-top: 70px;
    color: white;
    width: 90%;
    margin: auto;
}

.simplify__button{
    margin-top: 50px;
    background-color: white;
    color: var(--Bright-Red);
    margin-bottom: 50px;
    
    &:hover{
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    }
    &:active{
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

.footer{
    padding-top: 50px;
    background-color: var(--Very-Dark-Blue);
    color: var(--Very-Light-Gray);
}

.footer__email__button,
.footer__email__input{
    height: 40px;
}

.footer__email__input{
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    width: 70%;
}

.footer__email__button{
    width: 70px;
    box-shadow: none;
}

.footer__links{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    display: flex;
}
.footer__links__column{
    display: block;
    width: 50%;
}

.footer__link{
    display: block;
    margin: 10px;
    text-align: left;
    &:hover{
        color: var(--Bright-Red);
    }
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.socials__icon{
    display: block;
}

.socials__icon__image{
    width: 30px;

    &:hover{
        filter: 
            invert(49%)
            sepia(81%) 
            saturate(3126%) 
            hue-rotate(340deg) 
            brightness(100%) 
            contrast(91%);
    }
}

.footer__email{
    position: relative;
    &__input{
        border: 1px solid transparent
    }
    &__input.error{
        color: red;
        border: 1px solid red;
    }
    &__error{
        display: none;
    }
    & .error + &__error{
        display:block;
        position: absolute;
        left: 40px;
        top: 40px;
        font-size: 14px;
        color: red;
    }
}

.footer__logo{
    margin: auto;
    margin-bottom: 50px;
}

.footer__copyright{
    display: block;
    color: var(--Dark-Grayish-Blue);
}

@media (min-width: 1000px){
    .mobile{
        display: none;
    }
    .desktop{
        display:block;
    }
    body{
        background-image: url(images/bg-tablet-pattern.svg);
        background-repeat: repeat-y;
    }
    body > div,
    header,
    footer{
        padding: 100px;
    }
    .header__logo{
        height: 20px;
        width: auto;
    }
    .navbar-desktop{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: top;
    }
    .menu__link{
        margin-left: 20px;
        &:first-of-type{
            margin-left: auto;
        }
    }

    .navbar-desktop__button{
        height: 40px;
        width: 100px;
        display: block;
        margin-left: auto;
    }

    .intro{
        padding-top: 0;
        display: grid;
        grid-template-areas: 
        "title img"
        "paragraph img"
        "button img";
        align-items: center;
        justify-items: left;
        text-align: left;

        &__title{
            font-size: 40px;
            width: 400px;
            grid-area: title;
        }

        &__p{
            margin: 0;
            width: 350px;
            font-size: 16px;
            grid-area: paragraph;
        }

        &__button{
            grid-area: button;
        }

        &__image{
            grid-area: img;
        }
    }

    .differences{
        margin: auto;
        display: grid;
        align-items: top;
        grid-template-columns: 550px 85%;
        grid-template-areas: 
        "title ."
        "paragraph ."
        "paragraph .";
        text-align: left;

        &__title{
            grid-area: title;
            font-size: 40px;
            width: 450px;
        }

        &__p{
            grid-area: paragraph;
            font-size: 16px;
            width: 350px;
            margin: 0;
        }
        &__item{
            margin-top: 20px;
            width: 50%;



            &__header{
                background: none;


                &__title{
                    margin-left: 15px;
                }
            }



            &__p{
                margin-left: 80px;
                width: 90%;
            }
        }
    }

    .testimonials__carousel{
        overflow: hidden;
    }
    .testimonials__carousel:hover{
        overflow-x: scroll;
    }
    .testimonial{
        &__p{
            font-size: 14px;
            width: 30vw;
        }
    }

    .simplify{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(images/bg-simplify-section-desktop.svg);
        padding: 50px{
            left: 120px;
            right: 120px;
        };
        &__title{
            text-align: left;
            width: 500px;
            padding: 0;
            margin: 0;
        }
        &__button{
            padding: 0;
            margin: 0;
        }
    }
    
    .footer{
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo links email"
        "socials links copyright";
        align-items: top;
        width: 100%;
        &__logo{
            margin-top: 20px;
            grid-area: logo;
        }
        &__socials{
            grid-area: socials;
        }
        &__links{
            margin-top: 0;
            padding-top: 0;
            width: 100%;
            grid-area: links;
        }
        &__email{
            margin-top: 30px;
            grid-area: email;
        }
        &__copyright{
            text-align: right;
            margin-top: 50px;
            grid-area: copyright;
        }
    }

    
    .footer__links__column{
        margin-left: 50px;
    }
    .socials{
        margin: auto;
        justify-content: space-between;
        width: 150px;
    }
    .socials__icon__image{
        width: 20px;
    }
}